## brew
alias brewin="brew install"
alias brewupg="brew upgrade"
alias brewupd="brew update"
alias brewrm="brew remove"

## ls
alias ls="exa"
alias ll="exa -lah --icons"
alias l.="exa -a"

## pip
alias pip="pip3"
alias pipin="pip install"
## nvim
alias vi="nvim"
alias vim="nvim"
alias svi="sudo nvim"
alias svi="nvim '+set si'"
alias edit="nvim"

## zshrc
alias src="source ~/.zshrc"
alias ezrc="nvim ~/.zshrc"
alias ealias="nvim ~/.aliases"

## cbonasi
alias cbonsai="cbonsai -l"

## top
alias top="vtop -t nord"
alias oldtop="/usr/bin/top"

## grep
alias grep='grep --color=auto'

## mkdir create parents
alias mkdir="mkdir -pv"

## mount
alias mount="mount | column -t"

## history
alias h="history"

## jobs
alias j="jobs -l"

## exit
alias x="exit"

## ping
alias ping="ping -c 5"
alias fastping="ping -c 100 -s.2"

## root
alias root="sudo -i"
alias su="sudo -i"

## reboot / halt / poweroff
alias reboot="sudo /sbin/reboot"
alias poweroff="sudo /sbin/poweroff"
alias halt="sudo /sbin/halt"
alias off="sudo /sbin/shutdown -h now"

# Show local ip:
alias localip="ipconfig getifaddr en0"

## wget
alias wget="wget -c"

## confirmation
alias mv="mv -iv"
alias cp="cp -iv"
alias ln="ln -i"
alias rm="rm -iv"
alias config='/usr/bin/git --git-dir=/Users/leif/.cfg/ --work-tree=/Users/leif'

## Scripts
alias cm="commit"
alias bm="branch-manager"
